body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* can add padding to create padding around inner boxes */
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 8px;
  margin-bottom: 0px;
  display:inline-block;
  width: 368px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  /* can consolidate padding comments using padding: X X format */
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  display: inline-block;
  width: 368px;
  padding: 8px;
  margin: 8px;
  margin-top: 0px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  margin: 0 auto;
}